{% extends '@Admin/admin.html.twig' %}

{% block page_content -%}
    <div class="well col-md-12 " style="margin-top: 20px;">
        {{ form_start(categoryForm) }}
        <legend>Edit Category</legend>
        {{ form_widget(categoryForm) }}
        <button type="submit" class="btn btn-primary" formnovalidate>Edit</button>
        {{ form_end(categoryForm, {'render_rest': false, }) }}
    </div>
{% endblock %}