{% extends '@Admin/admin.html.twig' %}

{% block page_content %}
        <div class="well col-md-12 " style="margin-top: 20px;">
            {{ form_start(productForm) }}
            <legend>Add Product</legend>
            {{ form_widget(productForm) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Add</button>
            {{ form_end(productForm, {'render_rest': false, }) }}
        </div>
{% endblock %}