{% extends 'base.html.twig' %}

{% block main %}

    {% for index,category in categories %}
        <div class="container">
            <div class="row">
                <div class="col-md-2">{{ index+1 }}</div>
                <div class="col-md-4">{{ category.name }}</div>
                <div class="col-md-2"><a href="{{ path("edit_category_form", {'id':category.id}) }}">Edit</a></div>
                <div class="col-md-2"><form method="post" action="{{ path("delete_category_process", {'id':category.id}) }}">
                        <button type="submit">Delete</button>
                    </form></div>
            </div>
        </div>

    {% endfor %}
{% endblock %}

